# drivers/platform/Kconfig

if X86
source "drivers/platform/x86/Kconfig"
endif

menuconfig PLATFORM_DEVICES
	bool "Platform Specific Device Drivers"
	default y
	---help---
	  Say Y here to get to see options for device drivers for various
	  platforms. This option alone does not add any kernel code.

	  If you say N, all options in this submenu will be skipped and disabled.

if PLATFORM_DEVICES

config ML605
	tristate "Support for the Xilinx ML605 FPGA development board"
	depends on I2C_XILINX && SPI_XILINX

endif # PLATFORM_DEVICES
